/* global */
* {
    outline: none;
}
svg {
    fill: var(--text-color);
}

/* css variables */
:root {
    --light-color: #CFD8DC;
    --lighter-color: #ECEFF1;

    --medium-color: #B0BEC5;

    --text-color: #455A64;
    
    --dark-text-color: #37474F;
    --darker-text-color: #3C3E3F;
    
    --medium-text-color: #607D8B;

    --light-text-color: #78909C;
    --lighter-text-color: #90A4AE;
}

/* highlight color */
::selection {
    background-color: var(--light-color);
}

/* container and navbar paddings */
body > div.container, body > nav {
    width: 100%;
    box-sizing: border-box;
    padding: 0 calc((100% - 950px) / 2);
}
@media only screen and (max-width: 1000px) {
    body > div.container, body > nav {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

/* container and body */
body {
    background-color: #ffffff;
    color: var(--text-color);
}
body.loading * {
    transition: none !important;
}
body > div.container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* navbar */
body > nav {
    display: block;
    float: left;
    overflow: hidden;
    position: sticky;
    top: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    box-shadow: 0 0 1rem rgba(38,50,56,0.2);
    background-color: #ffffff;
    transition: padding-top 0.15s ease-in-out, padding-bottom 0.15s ease-in-out;
    color: var(--dark-text-color);
    z-index: 999999;
}
body > nav.not_top {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

/* nav elements */
body > nav > * {
    margin: 0;
    height: 4rem;
    display: block;
    float: left;
}

/* nav title */
body > nav > a.title {
    line-height: 4rem;
    font-size: 4rem;
    font-weight: 300;
    text-decoration: none;
    color: inherit;
}

/* nav links */
body > nav > ul.links {
    float: right;
    overflow: hidden;
    height: auto;
    font-size: 0;
}

body > nav > ul.links > a {
    display: inline-block;
    height: 4rem;
    box-sizing: border-box;
    color: var(--dark-text-color);
    font-size: 1.625rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    line-height: calc(4rem - 4px);
    padding: 0 calc((4rem - 1.625rem) / 2);
    border: 1px solid transparent;
    margin: 0 0.5rem;
    transition: border-color 0.25s;
    border-radius: 3px;
}
body > nav > ul.links > a:hover {
    border-color: var(--medium-color);
    text-decoration: none;
}
body > nav > ul.links > a.active {
    border-color: var(--dark-text-color);
}
body > nav > ul.links > a:first-child {
    margin-left: 0;
}
body > nav > ul.links > a:last-child {
    margin-right: 0;
}

/* mobile links toggler btn */
body > nav > button.mobile_link_toggler {
    display: block;
    box-sizing: border-box;
    float: right;
    height: 4rem;
    width: calc(4rem - (0.625rem * 2));
    background-color: transparent;
    border: none;
    padding: 0.625rem 0;
    display: none;
}
body > nav > button.mobile_link_toggler > svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--dark-text-color);
}

/* functionality (at least for icon display) */
body > nav.links_shown > button.mobile_link_toggler > svg.menu_icon {
    display: none;
}
body > nav:not(.links_shown) > button.mobile_link_toggler > svg.close_icon {
    display: none;
}

/* navbar with photo */
body > nav.photo {
    transition: padding-top 0.15s ease-in-out, padding-bottom 0.15s ease-in-out, color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out;
    position: fixed;
}
body > nav.photo > button.mobile_link_toggler > svg {
    transition: fill 0.25s ease-in-out;
}
body > nav.photo > ul.links > a {
    transition: border-color 0.25s, color 0.25s ease-in-out;
}

body > nav.photo:not(.links_shown):not(.not_top) {
    color: #ffffff;
    box-shadow: none;
    background-color: transparent;
}
body > nav.photo:not(.links_shown):not(.not_top) > button.mobile_link_toggler > svg {
    fill: #ffffff;
}
body > nav.photo:not(.links_shown):not(.not_top) > ul.links > a {
    color: #ffffff;
}
body > nav.photo:not(.links_shown):not(.not_top) > ul.links > a:hover {
    border-color: rgba(255, 255, 255, 0.45);
}
body > nav.photo:not(.links_shown):not(.not_top) > ul.links > a.active {
    border-color: #ffffff;
}

/* navbar mobile */
@media only screen and (max-width: 780px) {
    body > nav {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
    body > nav > ul.links {
        width: 100%;
        clear: both;
        text-align: right;
        margin-top: 1.25rem;
        transition: height 0.25s ease-in-out;
    }
    body > nav > ul.links > a {
        margin-top: 1rem;
    }
    body > nav > ul.links > a:first-child {
        margin-top: 0;
    }

    /* toggler functionality */
    body > nav > button.mobile_link_toggler {
        display: block;
    }
    body > nav:not(.links_shown) > ul.links {
        display: none;
    }
}

/* navbar mobile small */
@media only screen and (max-width: 500px) {
    body > nav.links_shown {
        height: 100vh;
        box-shadow: none;
    }
    body > nav.links_shown > ul.links {
        margin-top: 3.75rem;
    }
    body > nav.links_shown > ul.links > a {
        width: 100%;
        border: none;
        margin: 0;
        padding: 0;
        text-align: left;
        height: 5.5rem;
        line-height: 5.5rem;
        box-sizing: border-box;
        width: 100%;
        padding-left: 1.5rem;
        border-radius: 0;
    }
    body > nav.links_shown > ul.links > a:not(:last-child) {
        border-bottom: 1px solid rgba(38,50,56,0.2);
    }
}

/* nav background */
body > div.nav_background:not(.photo) {
    display: none;
}

body > div.nav_background.photo.photo_about {
    --photo-url: url(/views/assets/img/about_page.jpg);
}
body > div.nav_background.photo.photo_blog {
    --photo-url: url(/views/assets/img/blog_page.jpg);
}
body > div.nav_background.photo.photo_code {
    --photo-url: url(/views/assets/img/code_page.jpg);
}
body > div.nav_background.photo.photo_resume {
    --photo-url: url(/views/assets/img/resume_page.jpg);
}

body > div.nav_background.photo {
    height: 50rem;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), var(--photo-url);
}

/* footer */
body > div.container > footer {
    display: block;
    height: auto;
    overflow: hidden;
    min-height: 6rem;
    padding: 1.5rem 0;
    box-sizing: border-box;
    border-top: 1px solid var(--light-color);
}
body > div.container > footer > * {
    height: 3rem;
    line-height: 3rem;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
body > div.container > footer > ul.links {
    float: right;
}
body > div.container > footer > ul.links > a:not(:first-child) {
    margin-left: 1rem;
}

@media only screen and (max-width: 500px) {
    body > div.container > footer > * {
        width: 100%;
        clear: both;
        text-align: center;
    }
    body > div.container > footer > *:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

/* block list */
body > div.container {
    padding-top: 6rem;
}

body > nav.photo ~ div.container {
    margin-top: -27.5rem;
    z-index: 9999;
    display: block;
}

/* blocks */
body > div.container > ul.block_list > .block {
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(38,50,56,0.2);
    box-sizing: border-box;
    border-radius: 1rem;
    margin-bottom: 4.5rem;
    background-color: #ffffff;
}

/* block content */
body > div.container > ul.block_list > .block > .content {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 3.5rem;
    overflow: hidden;
}
body > div.container > ul.block_list > .block > .content.with_label {
    padding-top: 4rem;
}
body > div.container > ul.block_list > .block > .content > *:last-child {
    margin-bottom: 0;
}

/* block content mobile */
@media only screen and (max-width: 500px) {
    body > div.container > ul.block_list > .block > .content {
        padding: 2.5rem;
    }
    body > div.container > ul.block_list > .block > .content.with_label {
        padding-top: 4.5rem;
    }
}

/* post block */
body > div.container > ul.block_list > .block.post_block {
    display: flex;
    flex-direction: row;
}

/* post block with photo */
body > div.container > ul.block_list > .block.post_block.photo > .image_container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
}
body > div.container > ul.block_list > .block.post_block.photo > .image_container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
body > div.container > ul.block_list > .block.post_block.photo > .content {
    flex-shrink: 1;
    flex-basis: 70%;
}

/* post block mobile */
@media only screen and (max-width: 800px) {
    body > div.container > ul.block_list > .block.post_block.photo > .image_container {
        flex-basis: 40%;
    }
    body > div.container > ul.block_list > .block.post_block.photo > .content {
        flex-basis: 60%;
    }
}
@media only screen and (max-width: 690px) {
    body > div.container > ul.block_list > .block.post_block {
        flex-direction: column;
    }
    body > div.container > ul.block_list > .block.post_block.photo > .image_container {
        flex-basis: 50%;
    }
    body > div.container > ul.block_list > .block.post_block.photo > .content {
        flex-basis: 50%;
    }
}

/* post block content */
body > div.container > ul.block_list > .block.post_block > .content {
    position: relative;
}

/* type label */
body > div.container > ul.block_list > .block.post_block > .content > .type_label {
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    line-height: 1;
    padding: 0 0.9rem;
    border-radius: 1.1rem;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out;
}
body > div.container > ul.block_list > .block.post_block > .content > .type_label.blog {
    background-color: #2188ff;
}
body > div.container > ul.block_list > .block.post_block > .content > .type_label.blog:hover {
    background-color: #006ae5;
}
body > div.container > ul.block_list > .block.post_block > .content > .type_label.code {
    background-color: #e74c3c;
}
body > div.container > ul.block_list > .block.post_block > .content > .type_label.code:hover {
    background-color: #c0392b;
}

/* top meta area */
body > div.container > ul.block_list > .block.post_block > .content > div.top {
    border-bottom: 1px solid var(--light-color);
    margin-bottom: 2rem;
}

body > div.container > ul.block_list > .block.post_block > .content > div.top > h1.title {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
body > div.container > ul.block_list > .block.post_block > .content > div.top > h1.title > a {
    color: inherit;
}

body > div.container > ul.block_list > .block.post_block > .content > div.top > ul.details {
    min-height: 2.5rem;
    list-style: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
    color: var(--lighter-text-color);
}

body > div.container > ul.block_list > .block.post_block > .content > div.top > ul.details > li {
    display: inline-block;
    margin: 0;
    height: 2.5rem;
}
body > div.container > ul.block_list > .block.post_block > .content > div.top > ul.details > li:not(:last-child) {
    margin-right: 2rem;
}
body > div.container > ul.block_list > .block.post_block > .content > div.top > ul.details > li > * {
    display: block;
    float: left;
    margin: 0;
}

body > div.container > ul.block_list > .block.post_block > .content > div.top > ul.details > li > svg {
    height: 2.5rem;
    width: 2.75rem;
    box-sizing: border-box;
    padding: 0.125rem;
    fill: var(--medium-color);
}
body > div.container > ul.block_list > .block.post_block > .content > div.top > ul.details > li > p {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
body > div.container > ul.block_list > .block.post_block > .content > div.top > ul.details > li > p > a {
    color: inherit;
    font-weight: bold;
}
body > div.container > ul.block_list > .block.post_block > .content > div.top > ul.details > li > p > a:hover {
    color: var(--text-color);
}

/* post block mobile */
@media only screen and (max-width: 780px) {
    body > div.container > ul.block_list > .block.post_block > .content > div.top > h1.title {
        font-size: 3.5rem;
    }
}
@media only screen and (max-width: 500px) {
    body > div.container > ul.block_list > .block.post_block > .content > div.top > h1.title {
        font-size: 3rem;
    }
    body > div.container > ul.block_list > .block.post_block > .content > div.top > ul.details > li > p {
        font-size: 1.4rem;
    }
}

/* post content */
body > div.container > ul.block_list > .block > .content.post_content {
    font-size: 1.58rem;
}
body > div.container > ul.block_list > .block > .content.post_content > h1,
body > div.container > ul.block_list > .block > .content.post_content > h2,
body > div.container > ul.block_list > .block > .content.post_content > h4,
body > div.container > ul.block_list > .block > .content.post_content > h5,
body > div.container > ul.block_list > .block > .content.post_content > h6,
body > div.container > ul.block_list > .block > .content.post_content > *:not(.top) h1,
body > div.container > ul.block_list > .block > .content.post_content > *:not(.top) h2,
body > div.container > ul.block_list > .block > .content.post_content > *:not(.top) h4,
body > div.container > ul.block_list > .block > .content.post_content > *:not(.top) h5,
body > div.container > ul.block_list > .block > .content.post_content > *:not(.top) h6 {
    font-weight: 600;
}
body > div.container > ul.block_list > .block > .content.post_content > h1,
body > div.container > ul.block_list > .block > .content.post_content > *:not(.top) h1 {
    color: var(--dark-text-color);
}


body > div.container > ul.block_list > .block > .content.post_content h1 { font-size: 4.5rem; }
body > div.container > ul.block_list > .block > .content.post_content h2 { font-size: 3.35rem; }
body > div.container > ul.block_list > .block > .content.post_content h3 { font-size: 2.85rem; }
body > div.container > ul.block_list > .block > .content.post_content h4 { font-size: 2.25rem; }
body > div.container > ul.block_list > .block > .content.post_content h5 { font-size: 1.85rem; }
body > div.container > ul.block_list > .block > .content.post_content h6 { font-size: 1.7rem; }

/* post content big title */
body > div.container > ul.block_list > .block > .content.post_content > h1.big_title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 5.25rem;
}