.btn_text {
    font-size: 1.6rem;
    display: inline-block;
    color: var(--theme-color);
    text-decoration: none !important;
    border-bottom: 1px solid var(--theme-color);
    padding: .3rem;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color .2s, color .2s, box-shadow .2s, transform .2s, border-radius .2s;
}

.btn_text:hover {
    background-color: var(--theme-color);
    color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(38, 50, 56, 0.15);
    transform: translateY(-2px);
    border-radius: 3px;

}

.btn_text:active {
    box-shadow: 0 .5rem 1rem rgba(38, 50, 56, 0.15);
    transform: translateY(0);
}