<div class="block post project {% if code.photo %} photo {% endif %}">
    {% if code.photo %}
    <img src="{{ site.baseurl }}/assets/{{ code.photo }}" alt="Thumbnail">
    {% endif %}
    <div class="top">
        <h1>{{ code.title }}</h1>
        <p>
            {% if code.last_updated %}
            <span class="date">Last updated on {{ code.last_updated | date: "%-d %B, %Y" }}</span>
            {% endif %}

            {% if code.download_link %}
            <a href="{{ code.download_link }}" download>Download</a>
            {% endif %}
            {% if code.github_link %}
            <a href="{{ code.github_link }}">GitHub</a>
            {% endif %}
            {% if code.website_link %}
            <a href="{{ code.website_link }}">Website</a>
            {% endif %}
        </p>
    </div>
    <p>{{ code.text }}</p>
</div>