<footer>
	<!-- Copyright Statement with author name, copyright symbol, and current year -->
    <p>&copy; {{ site.author_name }} {{ site.time | date: '%Y' }}</p>
    
    <!-- Display Social Links -->
    <ul>
    	<!-- Loop though each social link and display with corresponding SVG -->
        {% for social_link in site.social_media_links %}
        
        <a href="{{ social_link }}" target="_blank">
        	{{ site.social_media_svgs[forloop.index0] }}
        </a>

        {% endfor %}
    </ul>
</footer>