<nav class="white" style="background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(/assets/.jpg)">
    <div class="top">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        <ul>
            <!-- Loop through sections and display link; also, link has active class if link is the current page -->
            {% for section in site.sections %}
            <a {% if section.title == page.title %} class="active" {% endif %} href="{{ site.baseurl }}/{{ section.file }}">{{ section.title }}</a>
            {% endfor %}

        </ul>
    </div>
    <h1>Home</h1>
</nav>