---
---

/* imports */
@import "normalize";
@import "skeleton";
@import "globals";
@import "nav";
@import "footer";

/* GRID AND CONTENT BLOCKS */
div.block {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 3.5rem 3.75rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
    margin-bottom: 5rem;
    font-size: 1.625rem;
}
h1, h2, h3, h4, h5 {
    font-weight: 600;
    margin-bottom: 1rem;
}
@media (max-width: 630px) {
    div.block {
        padding: 2.5rem !important;
        margin-bottom: 4rem;
        zoom: 85%;
    }
    div.block.post, div.block.post_block {
        padding: 2rem 2.5rem !important;
        margin-bottom: 4rem;
        zoom: 90%;
    }
}

/* POST BLOCK */
div.block.post_block > a{
    display: block;
    font-size: 3.25rem;
    line-height: 3.75rem;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
    color: inherit;
    font-weight: 600;
    letter-spacing: -0.08rem;
    text-decoration: none;
    color: #555;
}
div.block.post_block > a:hover {
    color: inherit;
}
div.block.post_block > div.post {
    padding: 2.5rem 0;
    padding-bottom: 2rem;
    font-size: 1.625rem;
}
div.block.post_block > div.post > p.post_description {
    margin-bottom: 0;
}
div.block.post_block > p.date, p.last_updated {
    margin-bottom: 0;
    color: #aaa;
    text-align: right;
    font-size: 1.65rem;
    line-height: 1;
}
p.last_updated {
    font-size: 1.625rem;
}

/* POST */
div.block.post {
    padding-top: 3rem;
}
div.block.post > div.top {
    padding-bottom: 1rem;
    margin-bottom: 2.25rem;
    border-bottom: 1px solid #e8e8e8;
    overflow: auto;
}
div.block.post > div.top h1 {
    font-size: 3.5rem;
    line-height: 4.25rem;
    margin: 0;
    margin-bottom: 0.25rem;
}
div.block.post > div.top p {
    font-size: 1.65rem;
    color: #aaa;
    margin: 0;
}
div.block.post > *:last-child {
    margin-bottom: 0;
}
div.block.post h2 {
    font-size: 3.25rem;
}
div.block.post h3 {
    font-size: 2.25rem;
}
@media (max-width: 630px) {
    div.block.post > div.top {
        margin-bottom: 1.75rem;
    }
}

/* PROJECT BLOCKS */
div.block.post.project > div.top > p > * {
    display: block;
    float: left;
}
div.block.post.project > div.top > p > a {
    margin-left: 0.75rem;
    float: right;
}
div.block.post.project.photo > div.top, div.block.post.project.photo > p {
    display: block;
    float: left;
    width: 65%;
    clear: left;
    margin-right: 3.75rem;
}
div.block.post.project.photo > img {
    display: block;
    float: right;
    width: calc(35% - 3.75rem);
    margin: 0.25rem 0;
}
@media (max-width: 950px) {
    div.block.post.project.photo > div.top, div.block.post.project.photo > p {
        width: 55%;
    }
    div.block.post.project.photo > img {
        width: calc(45% - 3.75rem);
    }
}
@media (max-width: 630px) {
    div.block.post.project.photo > * {
        float: left !important;
        width: 100% !important;
        clear: both !important;
    }
    div.block.post.project.photo > img {
        margin: 0.5rem 0;
        margin-bottom: 1.5rem;
    }
}

/* PAGE INTRO BLOCKS */
div.block#introduction > * {
    font-size: 1.625rem;
}
div.block#introduction > *:last-child {
    margin-bottom: 0;
}

/* POSTS */
div.block.post img {
    max-width: 100%;
}