/* post content */
body > div.container .post_content {
    font-size: 1.675rem;
    font-family: "Source Serif Pro", Georgia, 'Times New Roman', Times, serif;
}

body > div.container .post_content a {
    font-weight: bold;
}

body > div.container .post_content h1,
body > div.container .post_content h2,
body > div.container .post_content h3,
body > div.container .post_content h4,
body > div.container .post_content h5,
body > div.container .post_content h6 {
    font-weight: 600;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body > div.container .post_content > h1 {
    color: var(--dark-text-color);
}


body > div.container .post_content h1 { font-size: 4.5rem; }
body > div.container .post_content h2 { font-size: 3.55rem; }
body > div.container .post_content h3 { font-size: 2.6rem; }
body > div.container .post_content h4 { font-size: 2.2rem; }
body > div.container .post_content h5 { font-size: 1.85rem; }
body > div.container .post_content h6 { font-size: 1.6rem; }

body > div.container .post_content > img,
body > div.container .post_content > *:not(.top) img {
    max-width: 100%;
}
body > div.container .post_content img {
    border-radius: 3px;
}

/* post content with on mobile */
@media only screen and (max-width: 550px) {
    body > div.container .post_content { font-size: 1.55rem !important; }

    body > div.container .post_content h1 { font-size: 4rem; }
    body > div.container .post_content h2 { font-size: 3rem; }
    body > div.container .post_content h3 { font-size: 2.5rem; }
    body > div.container .post_content h4 { font-size: 2rem; }
    body > div.container .post_content h5 { font-size: 1.75rem; }
    body > div.container .post_content h6 { font-size: 1.5rem; }
}

/* post content big title */
body > div.container .post_content > h1.big_title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 5.25rem;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}